*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 20%;
    background-color: #50514f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.china{
    margin-top: 30px;
    color: white;
    font-family: 黑体;
    font-size: 1.5rem;
    font-weight: lighter;
}
p.english{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 微软雅黑;
    color: #70c1b3;
}